* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 10px;
    background-color: #f06565;
}


main {
    background-color: rgb(216, 208, 213);
    opacity: 60%;    
    border-radius: 3vw;
    padding: 2vw;
}

h1 {
    text-align: center;
    color: #444444;
    padding: 2vw;
}

h3 {
    text-align: center;
}

img {
    border: 1vw solid #555;
}


section {
    margin-left: 15px;
    margin-right: 15px;
}

#presentacion {
    border-radius: 3vw;
    opacity:1;
}

.table-table-striped {
    padding: 4vw;
    border: 10px;
    border-color: black;
    padding-bottom: 10vw;
}

nav {
    background-color:rgb(255, 226, 190);
    opacity: 40%; 
    border-radius: 3vw;
    padding: 2vw;
}

a {
    color: black;
}

form {
    padding: 3vw;
}

.form-select{
    background-color:rgb(216, 208, 213);
}

label {
    line-height: 36px;
}

/*
#disponibles{
    box-sizing: border-box;
    width: 40%;
    margin:0;
    
}

#tarjeta{

    margin:1vw;
    display: block;
    width: 100%;
}*/

#tarjeta{
    margin: 2vh;
}



#imagen-tarjeta{
    width: 20px;
}

.ocultar {
    display: none;
}


footer {
    background-color: rgba(49, 47, 47, 0.5);
    border-radius: 3vw;
    text-align: center;
    margin-top: 2vw;
    padding-right: 2vw;
    padding-left: 2vw;
}

#instagram {
    border: none !important;
    border-radius: 1vw;
    opacity: 80%;
}

#icono {
    border: none !important;
    border-radius: 1vw;
    opacity: 60%;
}

.carousel-item{
  Position:relative;
  }
  .carousel-item:before {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.5);
  }


/* Float four columns side by side */
.column {
  float: left;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

.row>* {
    flex-shrink: 0;
    width: 25%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 1rem;

}

.row::after{
        opacity: 0.8;
}


#total {
    position: fixed;
    top: 60%;
    left:90%;
}

#clear {
    position: fixed;
    top: 70%;
    left:90%;
}

#fondo {
    opacity: 0.8;
}

#iconoTitulo {
    border:none;
    width: 20vw;
}